<div class="blog-template">
  <div class="banner-container" style="background-image: url('{{ section.settings.banner_image | img_url:'master' }}')">
    <div class="banner-content-wrapper">
      <div class="container page-width">
        <div class="banner-content">
          <h1>{{ section.settings.title }}</h1>
          {% if section.settings.description_html != blank %}
              {{section.settings.description_html}}
          {% else %}
              <p>{{ section.settings.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {%- assign blog = blogs[section.settings.blog] -%}
  
  {% paginate blog.articles by 7 %}

  <div class="page-width blogs-header">
    <header class="section-header text-center">
      {% if blog.tags.size > 0 %}
        <div class="blog-filter">
          <label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
          <div class="select-group">
            <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-blog-tag-filter>
              <option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
              {% for tag in blog.all_tags %}
                <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
              {% endfor %}
            </select>
            {% include 'icon-chevron-down' %}
          </div>
        </div>
      {% endif %}
    </header>
  </div>


    <div class="page-width blogs-container">
      <ul class="grid grid--uniform grid--blog">
        {% for article in blog.articles %}
          <li class="grid__item {% if forloop.first == true %}medium-up--one-half first_article{% else %}medium-up--one-quarter{% endif %}">
            <a href="{{ article.url }}" class="article__link">
			  <img src="{{ article.image | img_url: 'master' }}">
              <h2 class="article__title h3{% if article.image %} article__title--has-image{% endif %}">
                {{ article.title | escape }}
              </h2>
            </a>

            <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
              {% if section.settings.blog_show_author %}
                <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}

              {% if section.settings.blog_show_date %}
                <span class="article__date">
                  {{ article.published_at | time_tag: format: 'date' }}
                </span>
              {% endif %}

              <div class="rte article__grid-excerpt">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  {{ article.content | strip_html | truncate: 150 }}
                {% endif %}
              </div>

              {% comment %}
              {% if article.tags.size > 0 %}
                <div class="article__tags rte">
                  <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                    {% for tag in article.tags %}
                      <li>
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <ul class="list--inline article__meta-buttons">
                <li>
                  <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                    {{ 'blogs.article.read_more' | t }}
                  </a>
                </li>

                {% if blog.comments_enabled? and article.comments_count > 0 %}
                  <li>
                    <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  </li>
                {% endif %}
              </ul>
              {% endcomment %}
              
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}

  {% endpaginate %}
  
</div>

{% schema %}
{
  "name": {
    "cs": "Stránky blogu",
    "da": "Blogsider",
    "de": "Blogseiten",
    "en": "Blog pages",
    "es": "Páginas del blog",
    "fi": "Blogisivut",
    "fr": "Pages du blog",
    "it": "Pagine del blog",
    "ja": "ブログページ",
    "ko": "블로그 페이지",
    "nb": "Bloggsider",
    "nl": "Blogpagina's",
    "pl": "Strony blogu",
    "pt-BR": "Páginas do blog",
    "pt-PT": "Páginas do blogue",
    "sv": "Bloggsidor",
    "th": "หน้าบล็อก",
    "tr": "Blog sayfaları",
    "vi": "Trang blog",
    "zh-CN": "博客页面",
    "zh-TW": "部落格頁面"
  },
  "settings": [
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    }
  ]
}
{% endschema %}
