<div class="banner-container" style="background-image: url('{{ section.settings.banner_image | img_url:'master' }}')">
  <div class="banner-content-wrapper">
    <div class="container page-width">
      <div class="banner-content">
        <h1>{{ section.settings.banner_title }}</h1>
       	<p>{{ section.settings.banner_description }}</p>
      </div>
    </div>
  </div>
</div>

<div class="page-width page-newsletter">
  <div class="newsletter-section">
      <div class="section-header text-center">
        {% if section.settings.section_title != blank %}
          <h2 class="h2">{{ section.settings.section_title | escape }}</h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <div class="rte">{{ section.settings.subheading }}</div>
        {% endif %}
      </div>
      {%- assign formId = 'Contact_' | append: section.id -%}
      {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
        {%- if form.posted_successfully? -%}
          <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.newsletter_form.confirmation' | t }}
          </p>
        {%- endif -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="input-group {% if form.errors %} input-group--error{% endif %}">
          <input type="email"
            name="contact[email]"
            id="{{ formId }}-email"
            class="input-group__field{% if form.errors %} input--error{% endif %}"
            value="{{ form.email }}"
            placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
              data-form-status
            {% endif %}
            >
          <span class="input-group__btn">
            <button type="submit" class="btn" name="commit">
              <span>{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          </span>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
        {%- endif -%}
      {% endform %}
  </div>
  <div class="newsletter-background">
  	<img src="{{ section.settings.background_image | img_url: 'master' }}">
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
	  {
         "type": "text",
         "id": "banner_title",
         "label": "Title",
         "default": "Title"
      },
      {
         "type": "textarea",
         "id": "banner_description",
         "label": "Description"
      },
      {
        "type": "text",
        "id": "section_title",
		"label": "Section Title"
	  },
      {
         "type": "richtext",
         "id": "subheading",
         "label": "SubHeading"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
	]
  }
{% endschema %}