{% comment %}
** Directions (Location) page - custom view **
- Page template
- Uses blocks
{% endcomment %}

{% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
        <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}">
            {% if block.type == "banner" %}
                <!-- Banner with text -->  
                {% include 'include-banner-directions', type: 'block' %}             
            {% endif %}
        </div>
    {% endfor %}
    {% for block in section.blocks %}
        <div {{ block.shopify_attributes }} class="page-directions__content block__{{ block.type }} block__{{ block.id }}">
            <div class="page-width">
                {% if block.type == "page" %}
                    <!-- Page -->  
                    {% assign content_page = block.settings.content_page %}

                    <div class="page-directions-content">
                        <div class="rte">
                            {{ pages[content_page].content }}
                        </div>
                    </div>                   

                {% elsif block.type == "sidebar-cart" %}
                    <!-- sidebar cart -->
                    <div class="page-sidebar-section">
                        <div class="sidebar-map">
                          <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Rectangle_252_2.png?v=1617137189">
                        </div>
                        <div class="sidebar-section-block direction-block">
                              <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_1_d3f879a4-5605-4660-a763-34bdcee17d7d.png?v=1617136494">
                            <div class="direction_content">
                              <h3>Directions • Map</h3>
                              <p>18830 Hwy 85, Gay, GA 30218</p>
                            </div>
                            <a>Directions</a>
                        </div>
                        <div class="sidebar-section-block tickets-block">
                              <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_2.png?v=1617136494">
                              <h3>Tickets</h3>
                              <div class="tickets">
                                <div class="ticket">
                                  <p class="ticket_number">Adult(13-64)</p>
                                  <p class="ticket_price">$10</p>              
                                </div>
                                <div class="ticket">
                                  <p class="ticket_number">Senior(65+)</p>
                                  <p class="ticket_price">$9</p>              
                                </div>
                                <div class="ticket">
                                  <p class="ticket_number">Active Duty Military</p>
                                  <p class="ticket_price">$9</p>              
                                </div>   
                                <div class="ticket">
                                  <p class="ticket_number">Children (7 – 12)</p>
                                  <p class="ticket_price">$5</p>              
                                </div>  
                                <div class="ticket">
                                  <p class="ticket_number">Children (under 7)</p>
                                  <p class="ticket_price">Free</p>              
                                </div>         
                              </div>
                              <span>No pets, please, for the safety and comfort of all our guests.</span>
                        </div>
                        <div class="sidebar-section-block parking-block">
                              <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_4_461b80de-4911-4a67-bdef-cd953007ca56.png?v=1617136494">
                              <h3>Parking</h3>
                              <p>Parking is free and on a first come, first parked basis.</p>
                        </div>  
                        <div class="sidebar-section-block join-block">
                              <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_3.png?v=1617136494">
                              <h3>Join us in 2021</h3>
                              <p>May 1-2 & Oct 2-3, 2021</p>
                        </div>  
                        <div class="sidebar-section-block hashtag-block">
                              <img src="https://cdn.shopify.com/s/files/1/0539/1908/8815/files/Vector_4.png?v=1617136494">
                              <h3>Hashtag #cottonpickinfair</h3>
                              <a>Tag your Instagram Memories with #cottonpickinfair</p>
                        </div> 
                        <div class="sidebar-section-block social-block">
                              <a class="social_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a class="social_instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div> 
                    </div>
                {% endif %}
            </div>            
        </div>
    {% endfor %}
{% endif %}


{% schema %}

{
    "name": "Page | Directions",
    "class": "page-directions-section",
    "blocks": [      
    {
    "type": "banner",
    "name": "Banner with text",
    "settings": [
        {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "richtext",
            "id": "description_html",
            "label": "Description(HTML)"
        }
    ]
    },
    {
        "type": "page",
        "name": "Page",
        "settings": [
        {
            "type": "page",
            "id": "content_page",
            "label": "Content page"
        }
        ]
    },
    {
        "type": "sidebar-cart",
        "name": "Sidebar cart",
        "settings": [
        {
            "type": "page",
            "id": "content_page",
            "label": "Content page"
        }
        ]
    }
    ]
}
    
{% endschema %}